body{
    padding:5px 0;
    margin: 0;
}
li{
    padding:4px;
}

h3{
    padding: 8px;
    background-color: lightgray;
}
p{margin:20px}
p, h1,h3{
    font-family:'Trebuchet MS', sans-serif;
}

.homepage li{
    margin : 12px 80px ;
    font-size: 20px;
}

.homelink>button,
.hometitle{
    color:white;
    background-color: rgb(0, 112, 131);
}

.hometitle,
.recipetitle{
    display: block;
    padding:8px;
}
.hometitle>h1{margin-left: 80px;}
.recipetitle{
    margin:5px 0;
    background-color: rgb(20, 184, 213);
}
.homelink>button{
    margin-left:6px;
    font-family: Verdana,Arial, Helvetica, sans-serif;
    border:0;
    padding:6px 12px;
    border-radius: 12px;
}
li{
    font-family: Arial, Helvetica, sans-serif;
}
.recipepage img{display:block;
width:400px;
margin:0 auto;}

.recipepage{
    margin: 0 80px;
    background-color: aliceblue;
}

.homeimg{
width: fit-content;
margin:0 auto;
padding-left:-5px;
}

.homepage img{
    display:inline-block;
    margin:12px;

}