body{
    padding:0;
    margin: 0;
}
*{
    box-sizing: border-box;
}
ul, ol{
    margin: 0;
    padding: 0;
}
li{
    padding:4px;
    font-family: Arial, Helvetica, sans-serif;
}

p, h1,h3{
    font-family:'Trebuchet MS', sans-serif;
}
a{
    text-decoration: none;
    color: black;
}
.footer{
    background-color: #245355;
    text-align: center;
    padding: 8px 0 ;
    margin-top: 20px;
}


/*both home and recipe pages*/
.hometitle,
.recipetitle{
    display: block;
    padding:8px;
}
.homelink>button,/*Home button in recipe pages*/ 
.hometitle{
    color:white;
background-image: linear-gradient(to bottom right , #0093b8,#3a8a8d,  rgb(16, 30, 41))
}


/* index.html-home page */
.homepage{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
}
.homepage ul{
    list-style-type: none;
}
.recipeList{
    padding: 20px 0;
    height: 200px;
}
.recipeList li{
    display: flex;
    align-items: center ;
    flex-wrap: nowrap;
    height: 50px;
    margin : 0 80px ;
    font-size: 20px;
}
.recipeList li:hover{
    font-size: 22px;
    flex-wrap: nowrap;
}

.hometitle>h1{margin-left: 80px;}

.homelink>button{
    position: fixed;
    margin-left:6px;
    font-family: Verdana,Arial, Helvetica, sans-serif;
    border:0;
    padding:6px 12px;
    border-radius: 12px;
}
.homeimg{
width: fit-content;
margin:0 auto;
padding-left:-5px;
}
.homepage img{
    display:inline-block;
    margin:12px;
}


/* reipes */

.recipetitle{
    margin:5px 0;
    background-image: linear-gradient(to bottom right , #14b8d5, rgb(0, 80, 201));
}
.foodImg{
    display: flex;
    justify-content: center;
}
.recipepage img{
    flex:0 1 auto;
    display:block;
    width:400px;
}


.recipepage h3{
    padding: 8px;
    background-color: lightgray;
}
.recipepage p{margin:20px}

.recipepage{
    margin: 0 10%;
    background-color: aliceblue;
}
.homelink>button:hover{
    background-image: linear-gradient(to bottom right , #14b8d5, rgb(0, 80, 201));
}
.homelink>button{
    width: 60px;
    height: 30px;
    font-size: 12px;
}
.homelink{
    position: absolute;
    right: 0;
    height: 50px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.homelink>button:active{
    width:75px;
    height: 35px;
    font-size: 14px;
}


